@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
body,
input,
textarea {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-rendering: optimizeLegibility; }

p {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none;
  color: white;
  -webkit-transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1); }

ul {
  padding: 0;
  margin: 0;
  list-style-type: none; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 800; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  padding: 0;
  margin: 0; }

ul {
  padding: 0;
  margin: 0;
  list-style-type: none; }

.container {
  max-width: 1440px;
  padding: 2em 40px;
  margin: 0 auto; }

.header {
  position: absolute;
  background-color: rgba(0, 120, 201, 0.2);
  z-index: 10;
  width: 100%;
  top: 0;
  left: 0; }
  .header__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .header .menu-toggle {
    display: none; }
  @media only screen and (max-width: 900px) {
    .header .menu {
      position: static; }
    .header .menu-toggle {
      position: absolute;
      display: block !important;
      top: .5em;
      right: 1em;
      border: 0;
      background-color: transparent;
      font-size: 3.1em;
      width: 1em;
      height: 1em;
      line-height: 0.3em;
      overflow: hidden;
      white-space: nowrap;
      text-indent: 5em; }
    .header .menu-toggle::after {
      position: absolute;
      top: .5em;
      left: .3em;
      display: block;
      content: "\2261";
      text-indent: 0;
      cursor: pointer;
      color: white; }
    .header .menu-dropdown {
      display: none;
      position: absolute;
      right: 0;
      left: 0;
      margin: 0;
      text-decoration: none; }
    .header .menu.is-open .menu-dropdown {
      display: block; }
    .header .nav-menu {
      margin-top: 1rem;
      padding: 0;
      float: right; }
    .header .nav-menu > ul {
      margin: 0;
      padding: 0;
      text-align: center;
      display: grid; }
    .header .nav-menu > ul > li {
      list-style-type: none;
      background: white; }
    .header .nav-menu > ul > li > a {
      width: 7rem;
      font-size: .8rem;
      margin-top: .5rem;
      text-align: center;
      color: black; }
    .header a {
      font-size: 65%; } }

@media only screen and (max-width: 414px) {
  .header {
    padding: 0; }
  .menu-toggle {
    position: absolute;
    display: block;
    right: 1.2em;
    border: 0;
    background-color: transparent;
    font-size: 3.1em;
    width: 1em;
    height: 1em;
    line-height: 0.3em;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 5em; }
    .menu-toggle .menu-toggle::after {
      position: absolute;
      top: .5em;
      left: .3em;
      display: block;
      content: "\2261";
      text-indent: 0;
      cursor: pointer; }
    .menu-toggle .menu-dropdown {
      display: none;
      position: absolute;
      right: 0;
      left: 0;
      margin: 0;
      text-decoration: none; }
    .menu-toggle .menu.is-open .menu-dropdown {
      display: block; }
    .menu-toggle .nav-menu {
      margin-top: 1rem;
      padding: 0;
      float: right; }
    .menu-toggle .nav-menu > ul {
      margin: 0;
      padding: 0;
      text-align: center; }
    .menu-toggle .nav-menu > ul > li {
      list-style-type: none; }
    .menu-toggle .nav-menu > ul > li > a {
      width: 7rem;
      text-align: center; }
    .menu-toggle a {
      font-size: 65%; } }

.menu {
  position: relative; }
  .menu ul li {
    display: inline-block; }
    .menu ul li a {
      text-decoration: none;
      font-family: Roboto;
      font-weight: 500;
      margin-right: 20px;
      padding: 0;
      color: white;
      position: relative;
      display: block; }
      .menu ul li a:hover {
        color: #00cccc; }

@media only screen and (max-width: 900px) {
  .menu a {
    margin-right: 0px !important; } }

.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .logo__img {
    width: 75px;
    height: auto; }
  .logo__caption {
    color: #fff;
    margin-left: 50px;
    font-weight: bolder; }

@media only screen and (max-width: 414px) {
  .logo__caption {
    margin-left: 15px;
    font-size: .8rem; } }

@media only screen and (max-width: 320px) {
  .logo__caption {
    margin-left: 10px;
    font-size: .6rem; } }

.hero {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 500px;
  /* Fading animation */ }
  .hero__outer {
    width: 100%;
    height: 100%;
    /* max-height: 600px; */
    background-color: rgba(46, 87, 107, 0.4);
    background-image: url("https://78.media.tumblr.com/cae86e76225a25b17332dfc9cf8b1121/tumblr_p7n8kqHMuD1uy4lhuo1_540.png"), url("https://78.media.tumblr.com/66445d34fe560351d474af69ef3f2fb0/tumblr_p7n908E1Jb1uy4lhuo1_1280.png"), url("https://78.media.tumblr.com/8cd0a12b7d9d5ba2c7d26f42c25de99f/tumblr_p7n8kqHMuD1uy4lhuo2_1280.png"), url("https://78.media.tumblr.com/5ecb41b654f4e8878f59445b948ede50/tumblr_p7n8on19cV1uy4lhuo1_1280.png"), url("https://78.media.tumblr.com/28bd9a2522fbf8981d680317ccbf4282/tumblr_p7n8kqHMuD1uy4lhuo3_1280.png");
    background-repeat: repeat-x;
    background-position: 0 20%, 0 100%, 0 50%, 0 100%, 0 0;
    background-size: 2500px, 800px, 500px 200px, 1000px, 400px 260px;
    -webkit-animation: 50s para infinite linear;
            animation: 50s para infinite linear; }

@-webkit-keyframes para {
  100% {
    background-position: -5000px 20%, -800px 95%, 500px 50%, 1000px 100%, 400px 0; } }

@keyframes para {
  100% {
    background-position: -5000px 20%, -800px 95%, 500px 50%, 1000px 100%, 400px 0; } }
  .hero__slide {
    width: 100%; }
  .hero__caption {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    color: white; }
    .hero__caption__title {
      font-size: 4rem;
      margin-top: 2rem; }
      .hero__caption__title span {
        color: #00cccc; }
    .hero__caption__subtitle {
      font-weight: 300;
      font-size: 3rem;
      margin-bottom: 1rem; }
      .hero__caption__subtitle span {
        color: #00cccc; }
    .hero__caption__text {
      font-weight: 200; }
      .hero__caption__text span {
        color: #00cccc; }
  .hero .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

#social {
  margin: 20px 0;
  text-align: center; }

.smGlobalBtn {
  /* global button class */
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: 0px;
  text-decoration: none;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  font-weight: normal;
  line-height: 2em;
  -moz-border-radius: 27px;
  -webkit-border-radius: 27px; }

/* facebook button class*/
.facebookBtn1:before {
  /* use :before to add the relevant icons */
  font-family: "FontAwesome";
  content: "\f09a";
  /* add facebook icon */ }

.facebookBtn1:hover {
  color: #4060A5;
  background-color: transparent;
  border-color: #4060A5;
  /* change the border color on mouse hover */ }

/* twitter button class*/
.twitterBtn1:before {
  font-family: "FontAwesome";
  content: "\f099";
  /* add twitter icon */ }

.twitterBtn1:hover {
  color: #00ABE3; }

/* google plus button class*/
.googleplusBtn1:before {
  font-family: "FontAwesome";
  content: "\f0d5";
  /* add googleplus icon */ }

.googleplusBtn1:hover {
  color: #e64522; }

.rssBtn1:before {
  font-family: "FontAwesome";
  content: "\f09e";
  /* add rss icon */ }

.rssBtn1:hover {
  color: #e88845; }

@media only screen and (max-width: 768px) {
  .hero__caption__title {
    font-size: 3rem; }
  .hero__caption__subtitle {
    font-size: 2rem; } }

@media only screen and (max-width: 414px) {
  .hero__caption__title {
    font-size: 2rem; }
  .hero__caption__subtitle {
    font-size: 1rem; }
  .hero__caption__text {
    font-size: .8rem; } }

.btn {
  display: inline-block;
  text-decoration: none;
  color: #00cccc;
  background: none;
  font-family: Roboto;
  font-weight: 900;
  margin: 10px;
  padding: 10px;
  border: 1px solid #00cccc;
  border-radius: 2px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }
  .btn:hover {
    color: white;
    background-color: black;
    border-color: black; }

.learn {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .learn h3 {
    margin-bottom: 1rem; }
  .learn span {
    color: #00cccc;
    font-weight: bolder; }
  .learn img {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .learn__list {
    display: grid;
    position: relative;
    grid-template-columns: 21% 21% 21%;
    grid-template-rows: -webkit-max-content;
    grid-template-rows: max-content;
    gap: 5%;
    margin-top: 4em;
    margin-bottom: 2em;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center; }
    .learn__list__item:hover {
      background-color: lightyellow; }
    .learn__list img {
      display: block;
      max-width: 48px;
      max-height: 68px;
      padding: 7px;
      margin: auto; }
    .learn__list__item h3 {
      text-align: center;
      margin-bottom: .5rem; }
    .learn__list__item p {
      text-align: center;
      font-size: 1rem; }

@media only screen and (max-width: 768px) {
  .learn__list {
    margin: auto; } }

@media only screen and (max-width: 414px) {
  .learn__list {
    gap: 10%; }
    .learn__list h3 {
      font-size: .8rem; }
    .learn__list p {
      font-size: .7rem; } }

@media only screen and (max-width: 320px) {
  .learn__list {
    gap: 10%; }
    .learn__list h3 {
      font-size: .6rem; }
    .learn__list p {
      font-size: .5rem; } }

.offer {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .offer h3 {
    color: #00cccc;
    font-size: 1.5rem;
    margin-bottom: 1rem; }
  .offer .list {
    display: grid;
    position: relative;
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: -webkit-max-content;
    grid-template-rows: max-content;
    gap: 10%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .offer .list__item img {
      display: block;
      width: 35px;
      height: 35px;
      padding: 10px;
      border: 1px solid #00cccc;
      border-radius: 50%;
      margin-top: .5rem;
      margin: auto; }
    .offer .list__item h4 {
      text-align: center;
      margin-bottom: .5rem; }
    .offer .list__item p {
      text-align: center;
      font-size: 1rem; }

@media only screen and (max-width: 414px) {
  .offer .list {
    gap: 10%; }
    .offer .list h3 {
      font-size: .8rem; }
    .offer .list p {
      font-size: .7rem; } }

.team {
  display: flow-root;
  text-align: center;
  color: #00cccc; }
  .team h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem; }
  .team img {
    margin-bottom: 2rem; }
  .team p {
    color: #000; }

.employees {
  display: grid;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 50px;
  color: white; }
  .employees__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 25%;
    min-width: 270px;
    margin-bottom: 1em; }
    .employees__item img {
      max-height: 230px;
      margin-bottom: 20px; }
    .employees__item h3, .employees__item p {
      color: #000000;
      text-align: center; }
    .employees__item h3 {
      font-size: 1rem;
      margin-top: 2rem; }
    .employees__item h3:hover {
      color: #99cccc; }
    .employees__item p {
      font-size: .7rem; }

section {
  display: inline-block; }

.mask {
  position: relative;
  overflow: hidden;
  min-width: 200px;
  min-height: 200px;
  background-color: #ffffff; }

.one {
  background: url(/img/employee-1.jpg) no-repeat 30% 0%;
  background-size: cover; }

.two {
  background: url(/img/employee-2.jpg) no-repeat 30% 0%;
  background-size: cover; }

.three {
  background: url(/img/employee-3.jpg) no-repeat 30% 0%;
  background-size: cover; }

.four {
  background: url(/img/employee-4.jpg) no-repeat 30% 0%;
  background-size: cover; }

.mask .details {
  display: none;
  padding-top: 60px;
  width: 200px;
  height: 200px;
  background-color: rgba(0, 120, 201, 0.7);
  text-align: center; }

.mask .details p {
  color: white;
  text-align: center; }

.mask:hover {
  -ms-transform: scale(1.2);
  /* IE 9 */
  -webkit-transform: scale(1.2);
  /* Safari 3-8 */
  transform: scale(1.2); }

.mask:hover .details {
  display: block; }

@media only screen and (max-width: 414px) {
  .team h3 {
    font-size: .8rem; }
  .team p {
    font-size: .7rem; } }

@media only screen and (max-width: 320px) {
  .team h3 {
    font-size: .6rem; }
  .team p {
    font-size: .5rem; }
  .mask {
    min-width: 150px;
    min-height: 150px; }
  .mask .details {
    padding-top: 30px;
    width: 150px;
    height: 150px; } }

.work__outer {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .work__outer .works {
    position: relative;
    height: 900px; }
  .work__outer h3 {
    position: relative;
    text-align: center;
    color: #00cccc;
    font-size: 1.5rem; }
  .work__outer p {
    font-size: 1em;
    text-align: center; }
  .work__outer .top {
    position: relative;
    margin: 20px 40px;
    text-align: center; }
    .work__outer .top a {
      justify-items: center; }
    .work__outer .top a:hover {
      background: #00cccc;
      color: white;
      border: #00cccc; }
  .work__outer .swiper-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto; }
  .work__outer .swiper-slide {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; }
  .work__outer .gallery-top {
    height: 60%;
    width: 100%; }
  .work__outer .gallery-thumbs {
    height: 20%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px 0; }
  .work__outer .gallery-thumbs .swiper-slide {
    width: 100%;
    height: 90%;
    opacity: 0.4; }
  .work__outer .gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1; }

@media only screen and (max-width: 414px) {
  .work h3 {
    font-size: .8rem; }
  .work p,
  .work a {
    font-size: .7rem; } }

@media only screen and (max-width: 320px) {
  .works h3 {
    font-size: .6rem; }
  .works p,
  .works a {
    font-size: .5rem; } }

.facts {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #00cccc; }
  .facts__outer {
    background: url(/img/forest.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  .facts__list {
    display: grid;
    position: relative;
    grid-template-columns: 21% 21% 21% 21%;
    grid-template-rows: -webkit-min-content;
    grid-template-rows: min-content;
    gap: 10%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .facts__list img {
      display: block;
      max-width: 66px;
      max-height: 66px;
      padding: 10px;
      border: 1px solid white;
      border-radius: 50%;
      margin: auto; }
    .facts__list__item h4 {
      text-align: center;
      margin-bottom: .5rem;
      color: white; }
    .facts__list__item p {
      text-align: center;
      font-size: 1rem;
      color: white; }

@media only screen and (max-width: 414px) {
  .facts__list h3 {
    font-size: .8rem; }
  .facts__list p {
    font-size: .7rem; } }

@media only screen and (max-width: 320px) {
  .facts__list h3 {
    font-size: .6rem; }
  .facts__list p {
    font-size: .5rem; } }

.clients {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .clients h3 {
    color: #00cccc; }
  .clients p {
    text-align: center;
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem; }

.contact-client {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1000px;
  margin: 0;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.client {
  position: relative;
  min-width: 1;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  margin: 1rem; }
  .client p {
    text-align: left; }

.client-form {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
  -webkit-justify-content: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: left;
  -webkit-align-items: left;
      -ms-flex-align: left;
          align-items: left;
  margin: 1rem; }

.client-form input, textarea, button {
  margin-top: 1rem;
  padding: .5rem;
  border: none; }

.client-form input {
  display: inline-block;
  min-width: 200px;
  border-bottom: 1px solid #ccc; }

.client-form textarea {
  border-bottom: 1px solid #ccc;
  resize: none; }

.client-form button {
  position: relative;
  justify-items: center;
  background: none;
  border: none; }
  .client-form button a {
    text-decoration: none;
    color: #00cccc;
    background: none;
    border: 1px solid #00cccc;
    border-radius: 2px;
    padding: 10px;
    font-family: Roboto;
    font-weight: 900;
    margin-left: .5rem; }
  .client-form button a:hover {
    color: white;
    background: #00cccc;
    border: 1px solid #00cccc; }

.contact-client #social {
  display: grid; }

.smGlobalBtn {
  /* global button class */
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 30px;
  height: 30px;
  /* add border to the buttons */
  padding: 0px;
  text-decoration: none;
  text-align: center;
  color: #ccc;
  font-size: 13px;
  font-weight: normal;
  line-height: 2em; }

/* facebook button class*/
.facebookBtn:before {
  /* use :before to add the relevant icons */
  font-family: "FontAwesome";
  content: "\f09a";
  /* add facebook icon */ }

.facebookBtn:hover {
  color: #4060A5;
  background: #fff;
  border-color: #4060A5;
  /* change the border color on mouse hover */ }

/* twitter button class*/
.twitterBtn:before {
  font-family: "FontAwesome";
  content: "\f099";
  /* add twitter icon */ }

.twitterBtn:hover {
  color: #00ABE3;
  background: #fff;
  border-color: #00ABE3; }

/* google plus button class*/
.googleplusBtn:before {
  font-family: "FontAwesome";
  content: "\f0d5";
  /* add googleplus icon */ }

.googleplusBtn:hover {
  color: #e64522;
  background: #fff;
  border-color: #e64522; }

/* linkedin button class*/
.linkedinBtn:before {
  font-family: "FontAwesome";
  content: "\f0e1";
  /* add linkedin icon */ }

.linkedinBtn:hover {
  color: #0094BC;
  background: #fff;
  border-color: #0094BC; }

/* pinterest button class*/
.pinterestBtn:before {
  font-family: "FontAwesome";
  content: "\f0d2";
  /* add pinterest icon */ }

.pinterestBtn:hover {
  color: #cb2027;
  background: #fff;
  border-color: #cb2027; }

#social {
  margin: 1rem;
  text-align: center; }

.smGlobalBtn {
  /* global button class */
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: 0px;
  text-decoration: none;
  text-align: center;
  font-size: 13px;
  font-weight: normal;
  line-height: 2em;
  -moz-border-radius: 27px;
  -webkit-border-radius: 27px; }

.map {
  width: 100%; }

@media only screen and (max-width: 768px) {
  .client-form {
    max-width: 350px; } }

@media only screen and (max-width: 414px) {
  .clients h3, .clients h4 {
    font-size: .8rem; }
  .clients p {
    font-size: .7rem; }
  .client-form {
    max-width: 200px; }
    .client-form input {
      height: 1.5rem;
      margin-top: .5rem; }
    .client-form textarea {
      margin-top: .5rem; }
    .client-form a {
      font-size: .7rem; } }

@media only screen and (max-width: 320px) {
  .clients h3, .clients h4 {
    font-size: .6rem; }
  .clients p {
    font-size: .5rem; }
  .client-form {
    max-width: 170px; }
    .client-form input {
      height: 1.3rem;
      margin-top: .3rem; }
    .client-form textarea {
      margin-top: .5rem; }
    .client-form a {
      font-size: .5rem; }
  #social {
    margin: 1rem;
    text-align: center;
    display: block !important; }
  .smGlobalBtn {
    /* global button class */
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 30px;
    height: 30px;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    font-size: 13px;
    font-weight: normal;
    line-height: 2em;
    -moz-border-radius: 27px;
    -webkit-border-radius: 27px; } }

.footer {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
  -webkit-justify-content: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: left;
  -webkit-align-items: left;
      -ms-flex-align: left;
          align-items: left; }
  .footer__outer {
    background: url(/img/footer-back.jpg);
    background-repeat: no-repeat;
    background-size: cover; }
  .footer .row {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .footer .row h4 {
    color: white;
    min-height: 2rem; }
  .footer .footer-logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: left;
    -webkit-align-items: left;
        -ms-flex-align: left;
            align-items: left;
    -webkit-box-pack: left;
    -webkit-justify-content: left;
        -ms-flex-pack: left;
            justify-content: left;
    min-height: 2rem; }
    .footer .footer-logo__img {
      margin: auto;
      width: 100px;
      height: auto; }
  .footer .desc {
    padding: 3rem 2rem;
    color: white;
    max-width: 400px; }
  .footer .footer-form {
    padding: 3rem 2rem;
    color: white;
    max-width: 400px;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center; }
    .footer .footer-form #subscribe-footer form {
      float: right;
      margin: 28px; }
    .footer .footer-form #subscribe-footer form .inptfld {
      font-family: Open Sans;
      outline: medium none;
      border: medium none;
      font-size: 15px;
      padding: 10px;
      border-radius: 3px;
      width: 250px; }
    .footer .footer-form #subscribe-footer form .subscribebtn {
      font-famiy: open sans;
      outline: none;
      border: none;
      border-radius: 3px;
      color: #fff;
      background: inherit;
      cursor: pointer; }
    .footer .footer-form #subscribe-footer form .subscribebtn:hover {
      background: #233140;
      -webkit-transition: all .6s ease 0;
      -o-transition: all .6s ease 0;
      transition: all .6s ease 0; }
  .footer .footer__outer {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    color: white; }
  .footer .footer-links {
    position: relative; }
  .footer .footer-links ul li {
    position: relative;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 5px 35px; }
  .footer .footer-menu {
    position: relative; }
  .footer .footer-menu p {
    margin: 5px 15px; }
  .footer .footer-nav {
    padding: 3rem 2rem;
    color: white;
    max-width: 400px;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center; }
  .footer .footer-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .footer .footer-list ul {
      margin: 0 1rem 0 0; }

#map {
  width: 100%;
  height: 400px;
  background-color: grey; }

@media only screen and (max-width: 768px) {
  .footer .footer-form,
  .footer .desc,
  .footer .footer-nav {
    padding: 3%; }
  #map {
    height: 300px; } }

@media only screen and (max-width: 414px) {
  .footer h3 {
    font-size: .8rem; }
  .footer p {
    font-size: .7rem; }
  #map {
    height: 200px; } }
