.btn  {
  $block: &;

  display: inline-block;
  text-decoration: none;
  color: #00cccc;
  background: none;
  font-family: Roboto;
  font-weight: 900;
  margin: 10px;
  padding: 10px;
  border: 1px solid #00cccc;
  border-radius: 2px;

  transition: all .3s ease;

  &:hover {
    color: white;
    background-color: black;
    border-color: black;
  }

}