.clients {
    $block: &;
    position: relative;
    // центрование по вертикали
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
    h3{
        color: #00cccc;
    }
    p{
        text-align: center;
        font-size: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
  
}
.contact-client{
    $block: &;
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 1000px; //если тебе нужен этот модуль поуже
    margin: 0;
    flex-wrap: wrap;
    justify-content: center;
}
.client{
    position: relative;
    min-width: 1;
    align-self: center;
    margin: 1rem; 
    p{
        text-align: left;
    }
}

.client-form{
    display: inline-flex;
    position: relative;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin: 1rem; 
   
    
}
.client-form input, textarea, button{
    margin-top: 1rem;
    padding: .5rem;
    border: none;
}
.client-form input{
    display: inline-block;
    min-width: 200px;
    border-bottom: 1px solid #ccc;
}
.client-form textarea{
    border-bottom: 1px solid #ccc;
    resize: none;
}
.client-form button{
    position: relative;
    justify-items: center;
    background: none;
    border: none;
    
    a{
        text-decoration: none;
        color: #00cccc;
        background: none;
        border: 1px solid #00cccc;
        border-radius: 2px;
        padding: 10px;
        font-family: Roboto;
        font-weight: 900;
        margin-left: .5rem;
      } 
      a:hover{
          color: white;
          background: #00cccc;
          border: 1px solid #00cccc;
      }
}   

.contact-client #social{
    display: grid;
    }
    .smGlobalBtn { /* global button class */
        display: inline-block;
        position: relative;
        cursor: pointer;
        width: 30px;
        height: 30px;
         /* add border to the buttons */
        padding: 0px;
        text-decoration: none;
        text-align: center;
        color: #ccc;
        font-size: 13px;
        font-weight: normal;
        line-height: 2em;
        
    }
    
    /* facebook button class*/
    
    
    .facebookBtn:before{ /* use :before to add the relevant icons */
        font-family: "FontAwesome";
        content: "\f09a"; /* add facebook icon */
    }
    
    .facebookBtn:hover{
        color: #4060A5;
        background: #fff;
        border-color: #4060A5; /* change the border color on mouse hover */
    }
    
    /* twitter button class*/
    
    
    .twitterBtn:before{
          font-family: "FontAwesome";
          content: "\f099"; /* add twitter icon */
          
    }
    
    .twitterBtn:hover{
          color: #00ABE3;
          background: #fff;
          border-color: #00ABE3;
    }
    
    /* google plus button class*/
    
    
    .googleplusBtn:before{
          font-family: "FontAwesome";
          content: "\f0d5"; /* add googleplus icon */
    }
    
    .googleplusBtn:hover{
          color: #e64522;
          background: #fff;
          border-color: #e64522;
    }
    
    /* linkedin button class*/
    
    
    .linkedinBtn:before{
          font-family: "FontAwesome";
          content: "\f0e1"; /* add linkedin icon */
    }
    
    .linkedinBtn:hover{
          color: #0094BC;
          background: #fff;
          border-color: #0094BC;
    }
    
    /* pinterest button class*/
    
    
    .pinterestBtn:before{
          font-family: "FontAwesome";
          content: "\f0d2"; /* add pinterest icon */
    }
    
    .pinterestBtn:hover{
          color: #cb2027;
          background: #fff;
          border-color: #cb2027;
    }

    @import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
    
    #social {
      margin: 1rem; ;
      text-align: center;
    }
    
    .smGlobalBtn { /* global button class */
        display: inline-block;
        position: relative;
        cursor: pointer;
        width: 30px;
        height: 30px;
        padding: 0px;
        text-decoration: none;
        text-align: center;
        font-size: 13px;
        font-weight: normal;
        line-height: 2em;
        -moz-border-radius:27px;
        -webkit-border-radius:27px;
    }
    
.map{
    width: 100%;
}
@media only screen and (max-width: 768px){
    
    .client-form{
        max-width: 350px; 
    }
}

    @media only screen and (max-width: 414px){
    .clients{
              h3,h4{
                font-size: .8rem;
              }
              p{
                font-size: .7rem;
              }
            
        }
    .client-form{
        max-width: 200px; 
        input{
            height: 1.5rem;
            margin-top: .5rem;
        }
        textarea{
            
            margin-top: .5rem;
        }
        a{
            font-size: .7rem;
          }
    }
   

}
@media only screen and (max-width: 320px){
    .clients{
        h3,h4{
          font-size: .6rem;
        }
        p{
          font-size: .5rem;
        }
      
  }
.client-form{
  max-width: 170px; 
  input{
      height: 1.3rem;
      margin-top: .3rem;
  }
  textarea{
      
      margin-top: .5rem;
  }
  a{
      font-size: .5rem;
    }
}

    #social {
        margin: 1rem; 
        text-align: center;
        display: block !important;
      }
      
      .smGlobalBtn { /* global button class */
          display: inline-block;
          position: relative;
          cursor: pointer;
          width: 30px;
          height: 30px;
          padding: 0px;
          text-decoration: none;
          text-align: center;
          font-size: 13px;
          font-weight: normal;
          line-height: 2em;
          -moz-border-radius:27px;
          -webkit-border-radius:27px;
      }
}