.facts {
    $block: &;
    position: relative;
    // центрование по вертикали
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #00cccc;
   
    &__outer{
    background: url(/img/forest.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    

    }

    &__list {
        display: grid;
        position: relative;
        grid-template-columns: 21% 21% 21% 21%;
        grid-template-rows: min-content; 
        gap: 10%;
        justify-content: center;
        
    
        img {
          display: block;
          max-width: 66px;
          max-height: 66px;
          padding: 10px;
          border: 1px solid white;
          border-radius: 50%;
          margin: auto;
        }
    
    
        &__item {
          h4 {
            text-align: center;
            margin-bottom: .5rem;
            color: white;
          }
          
          p {
            text-align: center;
            font-size: 1rem;
            color: white;
          }
        }
    
      
      }
    
     
  }
  @media only screen and (max-width: 414px){
    .facts__list{
      
      h3{
        font-size: .8rem;
      }
      p{
        font-size: .7rem;
      }
    }
}
@media only screen and (max-width: 320px){
  .facts__list{
    
    h3{
      font-size: .6rem;
    }
    p{
      font-size: .5rem;
    }
  }
}
  