.footer{
    $block: &;
    position: relative;
    // центрование по вертикали
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    
    &__outer{
        background: url(/img/footer-back.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .row{
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .row h4{
        color: white;
        min-height: 2rem;
    }
    .footer-logo{
        display: flex;
        align-items: left;
        justify-content: left;
        min-height: 2rem;
      
        &__img {
          margin: auto;
          width: 100px;
          height: auto;
        }
      
      }
    .desc{
        padding: 3rem 2rem;
        color: rgba(255,255,255,1.00);
        max-width: 400px;
    }
    
    .footer-form{
        padding: 3rem 2rem;
        color: rgba(255,255,255,1.00);
        max-width: 400px;
        align-self: center;

        #subscribe-footer form {
            float: right;
            margin: 28px;
        }
        #subscribe-footer form .inptfld {
            font-family: Open Sans;
            outline: medium none;
            border: medium none;
            font-size: 15px;
            padding: 10px;
            border-radius: 3px;
            width: 250px;
        }
        #subscribe-footer form .subscribebtn {
        font-famiy: open sans;
        outline: none;
        border: none;
        border-radius: 3px;
        color: #fff;
        background: inherit;
        cursor: pointer;
       
        }
        #subscribe-footer form .subscribebtn:hover {
        background: #233140;
        -webkit-transition: all .6s ease 0;
        -moz-transition: all .6s ease;
        -ms-transition: all .6s ease 0;
        -o-transition: all .6s ease 0;
        transition: all .6s ease 0;
        }
    }
   
    .footer__outer{
        display: inline-flex;
        color: white;
    }
    .footer-links{
        position: relative;
    
    }
    .footer-links ul li{
        position: relative;
        display: inline-flex;
        margin: 5px 35px;
        
    }
    .footer-menu {
        position: relative;

    }
    .footer-menu p{
        margin: 5px 15px;
    }
    
    .footer-nav{
        padding: 3rem 2rem;
        color: rgba(255,255,255,1.00);
        max-width: 400px;
        align-self: center;
    }
    .footer-list{
        display: flex;
        ul{
            margin: 0 1rem 0 0;
        }
    }
   
    
}
#map{
    width: 100%;
    height: 400px;
    background-color: grey;
}
@media only screen and (max-width: 768px){
    .footer{

 
        .footer-form,
        .desc,
        .footer-nav{
            padding: 3%;
        }   
    }
    #map{
        height: 300px;
    }
}

@media only screen and (max-width: 414px){
   
        .footer{
          
          h3{
            font-size: .8rem;
          }
          p{
            font-size: .7rem;
          }
        }
    
    #map{
        
        height: 200px;
        
    }
}