.work__outer{
  $block: &;
  position: relative;
  // центрование по вертикали
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  .works{
    position: relative;
    height: 900px;
}
  h3{
    position: relative;
    text-align: center;
    color: #00cccc;
    font-size: 1.5rem;
  }

   p{
    font-size: 1em;
    text-align: center;
   
  }
  .top{
    position: relative;
    margin: 20px 40px;
    text-align: center;


    a{
      justify-items: center;
    }
    a:hover{
      background: #00cccc;
      color: white;
      border: #00cccc;
    } 
  }
  
  .swiper-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .swiper-slide {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .gallery-top {
    height: 60%;
    width: 100%;
  }
  .gallery-thumbs {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }
  .gallery-thumbs .swiper-slide {
    width: 100%;
    height: 90%;
    opacity: 0.4;
  }
  .gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
  }
  
}
@media only screen and (max-width: 414px){
  .work{
    h3{
      font-size: .8rem;
    }
    p,
    a{
      font-size: .7rem;
    }
  }
}
@media only screen and (max-width: 320px){
  .works{
    h3{
      font-size: .6rem;
    }
    p,
    a{
      font-size: .5rem;
    }
  }
  
}
