.header {
  $block: &;
  position: absolute; //чтобы hero поднялся наверх
  background-color: rgba(0, 120, 201, 0.2);
  z-index: 10; //был виден
  width: 100%;
  
  top: 0;
  left: 0;


  &__inner { //отвечает за сетку
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu-toggle{
    display: none;
  }
  @media only screen and (max-width: 900px){
    .menu{
      position: static;
  }
  .menu-toggle{
    position: absolute;
    display: block !important; 
    top: .5em;
    right: 1em;
    border: 0;
    background-color: transparent;
    font-size: 3.1em;
    width: 1em;
    height: 1em;
    line-height: 0.3em;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 5em;
  }
  .menu-toggle::after{
    position: absolute;
    top:.5em;
    left: .3em;
    display: block;
    content: "\2261";
    text-indent: 0;
    cursor: pointer;
    color: white;
  }
  
  .menu-dropdown{
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0;
    text-decoration: none;
  }
  .menu.is-open .menu-dropdown{
      display: block;
  }
  .nav-menu{
    margin-top: 1rem;
    padding: 0;
    float: right;
  }
  .nav-menu > ul{
      margin: 0;
      padding: 0;
      text-align: center;
      display: grid;
  }
  .nav-menu > ul > li{
      list-style-type: none;
      background: white;
  }
  .nav-menu > ul > li > a{
    width: 7rem;
    font-size: .8rem;
    margin-top: .5rem;
    text-align: center;
    color: black;
  }
  a{
    font-size: 65%;
  } 
  }
  

}

@media only screen and (max-width: 414px){
.header{
  padding: 0;
}
.menu-toggle{
position: absolute;
display: block; 
right: 1.2em;
border: 0;
background-color: transparent;
font-size: 3.1em;
width: 1em;
height: 1em;
line-height: 0.3em;
overflow: hidden;
white-space: nowrap;
text-indent: 5em;

.menu-toggle::after{
position: absolute;
top:.5em;
left: .3em;
display: block;
content: "\2261";
text-indent: 0;
cursor: pointer;
}

.menu-dropdown{
display: none;
position: absolute;
right: 0;
left: 0;
margin: 0;
text-decoration: none;
}
.menu.is-open .menu-dropdown{
display: block;
}
.nav-menu{
margin-top: 1rem;
padding: 0;
float: right;

}
.nav-menu > ul{
margin: 0;
padding: 0;
text-align: center;

}
.nav-menu > ul > li{
list-style-type: none;

}
.nav-menu > ul > li > a{
width: 7rem;
text-align: center;

}
a{
font-size: 65%;
} 
}
}


