.hero {
  $block: &;
  position: relative;
  // центрование по вертикали
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 500px;


  &__outer {
    width: 100%;
    height: 100%;
    /* max-height: 600px; */
    
    background-color: hsla(200,40%,30%,.4);
    background-image:       
        url('https://78.media.tumblr.com/cae86e76225a25b17332dfc9cf8b1121/tumblr_p7n8kqHMuD1uy4lhuo1_540.png'), 
        url('https://78.media.tumblr.com/66445d34fe560351d474af69ef3f2fb0/tumblr_p7n908E1Jb1uy4lhuo1_1280.png'),
        url('https://78.media.tumblr.com/8cd0a12b7d9d5ba2c7d26f42c25de99f/tumblr_p7n8kqHMuD1uy4lhuo2_1280.png'),
        url('https://78.media.tumblr.com/5ecb41b654f4e8878f59445b948ede50/tumblr_p7n8on19cV1uy4lhuo1_1280.png'),
        url('https://78.media.tumblr.com/28bd9a2522fbf8981d680317ccbf4282/tumblr_p7n8kqHMuD1uy4lhuo3_1280.png');
    background-repeat: repeat-x;
    background-position: 
        0 20%,
        0 100%,
        0 50%,
        0 100%,
        0 0;
    background-size: 
        2500px,
        800px,
        500px 200px,
        1000px,
        400px 260px;
    animation: 50s para infinite linear;
    }

@keyframes para {
    100% {
        background-position: 
            -5000px 20%,
            -800px 95%,
            500px 50%,
            1000px 100%,
            400px 0;
        }
    }




  &__slide {
    width: 100%;
  }


  &__caption {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    color: white;

    &__title {
      font-size: 4rem;
      margin-top: 2rem;
      
      span{
        color: #00cccc;
      }
    }
    &__subtitle{
      font-weight: 300;
      font-size: 3rem;
      margin-bottom: 1rem;
      
      span{
        color: #00cccc;
      }
    }

    &__text {
      
      font-weight: 200;
      span{
        color: #00cccc;
      }
    }
    
  }
 
  
  /* Fading animation */
  .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
  }
  
  @keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
  }
}

#social {
  margin: 20px 0;
  text-align: center;
}

.smGlobalBtn { /* global button class */
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 30px;
    height: 30px;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    font-weight: normal;
    line-height: 2em;
    -moz-border-radius:27px;
    -webkit-border-radius:27px;
}

/* facebook button class*/


.facebookBtn1:before{ /* use :before to add the relevant icons */
    font-family: "FontAwesome";
    content: "\f09a"; /* add facebook icon */
}

.facebookBtn1:hover{
    color: #4060A5;
    background-color: transparent;
    border-color: #4060A5; /* change the border color on mouse hover */
}

/* twitter button class*/


.twitterBtn1:before{
      font-family: "FontAwesome";
      content: "\f099"; /* add twitter icon */
      
}

.twitterBtn1:hover{
      color: #00ABE3;
      
}

/* google plus button class*/


.googleplusBtn1:before{
      font-family: "FontAwesome";
      content: "\f0d5"; /* add googleplus icon */
}

.googleplusBtn1:hover{
      color: #e64522;
      
}
.rssBtn1:before{
      font-family: "FontAwesome";
      content: "\f09e"; /* add rss icon */
}

.rssBtn1:hover{
      color: #e88845;
      
}
@media only screen and (max-width: 768px){
  
  .hero__caption__title{
        font-size: 3rem;
      }
      .hero__caption__subtitle{
        font-size: 2rem;
      }
}
    @media only screen and (max-width: 414px){
      .hero__caption__title{
        font-size: 2rem;
      }
      .hero__caption__subtitle{
        font-size: 1rem;
      }
      .hero__caption__text{
        font-size: .8rem;
      }
}
