.learn {
  $block: &;
  position: relative;
  // центрование по вертикали
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  h3{
    margin-bottom: 1rem;
  }
  span{
    color: #00cccc;
    font-weight: bolder;
  }
  
  

    img{
    justify-content: center;
    align-items: center;
    }
 
    


  &__list {
    display: grid;
    position: relative;
    grid-template-columns: 21% 21% 21%;
    grid-template-rows: max-content;
    gap: 5%;
    margin-top: 4em;
    margin-bottom: 2em;
    align-content: center;
    justify-content: center;
    text-align: center;
    
    &__item:hover{
      background-color: lightyellow;
    }
    img {
      display: block;
      max-width: 48px;
      max-height: 68px;
      padding: 7px;
      margin: auto;
    }
    
    &__item {
      h3 {
        text-align: center;
        margin-bottom: .5rem;
      }
      
      p {
        text-align: center;
        font-size: 1rem;
      }
    }
  }
  }
  
  @media only screen and (max-width: 768px){
    .learn__list{
      margin: auto;
    }
}
    @media only screen and (max-width: 414px){
      .learn__list{
        gap: 10%;
        h3{
          font-size: .8rem;
        }
        p{
          font-size: .7rem;
        }
      }
}
@media only screen and (max-width: 320px){
  .learn__list{
    gap: 10%;
    h3{
      font-size: .6rem;
    }
    p{
      font-size: .5rem;
    }
  }
}
    
  
  


