
.logo{
  display: flex;
  align-items: center;
  justify-content: center;

  &__img {
    width: 75px;
    height: auto;
  }

  &__caption {
    color: $color-white;
    margin-left: 50px;
    font-weight: bolder;
    
  }
}

@media only screen and (max-width: 414px){
  .logo__caption{
    margin-left: 15px;
    font-size: .8rem;
  }
}
@media only screen and (max-width: 320px){
  .logo__caption{
    margin-left: 10px;
    font-size: .6rem;
  }
}