.menu {
  $block: &;

  position: relative;

  ul {
    //styles


    //  .menu ul li
    li {
      display: inline-block;


      // .menu ul li a
      a {
        text-decoration: none;
        font-family: Roboto;
        font-weight: 500;
        margin-right: 20px;
        padding: 0;
        color: white;
        position: relative;
        display: block;

        // .menu ul li a:hover{
        &:hover {
          color: #00cccc;
          
        }
      }
    }
  }
}
@media only screen and (max-width: 900px){
  .menu{
    a {
      margin-right: 0px !important;
  }
}
}