.offer {
  $block: &;
  position: relative;
  // центрование по вертикали
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
 
  
    h3{
      color: #00cccc;
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
    


  .list {
    display: grid;
    position: relative;
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: max-content;
    gap: 10%;
    justify-content: center;
    align-items: center;
    
    


    &__item {
      img {
        display: block;
        width: 35px;
        height: 35px;
        padding: 10px;
        border: 1px solid #00cccc;
        border-radius: 50%;
        margin-top: .5rem;
        margin: auto
      }
      h4 {
        text-align: center;
        margin-bottom: .5rem;
        
      }
      
      p {
        text-align: center;
        font-size: 1rem;
      }
    }

  
  }
  

}
@media only screen and (max-width: 414px){
  .offer{

  .list{
    gap: 10%;
    h3{
      font-size: .8rem;
    }
    p{
      font-size: .7rem;
    }
  }
}
}

