.team {
  display: flow-root;
  text-align: center;
  color: #00cccc;
  h3{
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  img{
    margin-bottom: 2rem;
  }
  p{
    color: #000; 
  }
}

.employees {
  display: grid;
  position: relative;
 

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
  margin-top: 50px;
  color: white;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    min-width: 270px; 
    margin-bottom: 1em;

    img {
     max-height: 230px;
     margin-bottom: 20px;

    }
    h3, p{
      color: #000000;
      text-align: center;
    }
    h3{
      font-size: 1rem;
      margin-top: 2rem;
    }
    h3:hover{
      color: #99cccc;
    }
    p{
      font-size: .7rem;
    }
  }
}
section {
  display: inline-block;
  
}

.mask  {
  position: relative;
  overflow: hidden;
  min-width: 200px;
  min-height: 200px;
  background-color: #ffffff;
}
.one{
  background: url(/img/employee-1.jpg) no-repeat 30% 0%;
  background-size: cover;
}
.two {
  background: url(/img/employee-2.jpg) no-repeat 30% 0%;
  background-size: cover;
}
.three {
  background: url(/img/employee-3.jpg) no-repeat 30% 0%;
  background-size: cover;
}
.four {
  background: url(/img/employee-4.jpg) no-repeat 30% 0%;
  background-size: cover;
}

.mask .details {
  display: none;
  padding-top: 60px;
  width: 200px;
  height: 200px;
  background-color: rgba(0, 120, 201, 0.7);
  text-align: center;
}
.mask .details p{
  color: white;
  
  text-align: center;
}
.mask:hover{
  -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
}
.mask:hover .details{
  display: block;
}
@media only screen and (max-width: 414px){
  .team{
    h3{
      font-size: .8rem;
    }
    p{
      font-size: .7rem;
    }
  }
}
@media only screen and (max-width: 320px){
  .team{
    h3{
      font-size: .6rem;
    }
    p{
      font-size: .5rem;
    }
  }
  .mask  {
    min-width: 150px;
    min-height: 150px;
  }
  .mask .details {
    padding-top: 30px;
    width: 150px;
    height: 150px;
  }
}